.contact {
    padding-top: 90px;
    height: 100vh;
    position: relative;
}

.contact-form {
    width: 50%;
    margin: 20px auto;
    border: 1.5px dashed #5c5252;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form__group {
    margin: 20px 0;
    position: relative;
}

.contact-form__group-icon {
    display: inline-block;
    position: absolute;    
}