.detail {
    padding-top: 90px;
    // background-color: #141414;
    margin: 0 auto;
    height: 100vh;

    .detail__background {
       width: 1300px;
       margin: 0 auto;
       
       img {
           width: 100%;
           height: 500px;
           object-fit: cover;
           border-radius: 8px;
            margin-top: 20px;
        }
    }

    .detail__content {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    .content__image {
        img {
            width: 150px;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .desc__date {
        font-weight: 500;
        margin: 10px 0;
        span {
            margin-right: 10px;
        }
    }

    .watch {
        height: 60px;
        width: 210px;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 999px;
    }

    .animate__animated.animate__slideInLeft {
        --animate-duration: 1.5s;
    }

    .animate__animated.animate__slideRight {
        --animate-duration: 1.5s;
    }
}